/* Global */
* {
    margin: 0;
    font-family: sans-serif;
}

/* Banner  */

.banner {
    background-image: url(../images/banner/banner2.png);
    background-attachment: local;
    background-size: cover;
    padding: 200px 100px;
}

.banner-wrapper {
    width: 100%;
    text-align: right;

}

.banner-title {
    font-size: 65px;
    padding-left: 700px;
    margin-bottom: 25px;
}

.banner-section-description {
    font-size: 16px;
    padding-left: 700px;
    margin-bottom: 25px;
    color: rgb(97, 96, 96);
}

.btn-primary {
    height: 65px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: rgb(230, 87, 22);
    border: 0;
    border-radius: 5px;
}

/* main  */
main {
    align-items: center;
}

/* Failure and opportunities*/
.main-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 130px;
    gap: 30px;

}

.section-title {
    font-size: 40px;
    font-weight: 700px;
    margin-bottom: 25px;
}

.section-description {
    font-size: 16px;
    margin-bottom: 25px;
    color: rgb(97, 96, 96);
}

ul {
    list-style: none;
    padding-left: 10px;


}

li {
    margin: 10px 0;
    color: rgb(97, 96, 96);
    font-size: 16px;
}

ul li::before {
    content: "\25AA";
    color: rgb(31, 173, 31);
    display: inline-block;
    width: -15px;
}

.section-picture {
    background: rgb(73, 118, 143);
    border-radius: 45%
}

/* Plans */
.my-plans-header {
    text-align: center;
    margin: 100px 0;
}

.plans-wrapper {
    display: flex;
    justify-content: space-around;
    margin: 100px 0;
    text-align: center;
    padding: 0 150px;
}

.plans-img {
    margin: 20px 0;
}

.plans-title {
    font-size: 25px;
    margin: 15px 0;
}

.plans-description {
    color: rgb(97, 96, 96);
    font-size: 14px;
}

/* Gradient */
.btn-gradient {
    height: 65px;
    padding: 10px 30px;
    font-size: 18px;
    font-weight: 700;
    color: rgb(230, 87, 22);
    background-color: white;
    border: 0;
    border-radius: 5px;
}

.gradient .section-title {
    color: white;
    width: 50%;
}

.gradient {
    display: block;
    margin: 30px auto 30px;
    width: 70%;
    background-image: url(../images/watch.png), url(../images/gradient2.png);
    background-blend-mode: soft-light;
    padding: 60px;
    border: none;
    border-radius: 10px;
    align-items: center;
}

/* Footer */